*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    max-width: 1920px;
    margin: auto;
}
header{
    height: 42px;
    background-color: #2874f0;
    display: flex;
    justify-content: space-between;
}
header .right-nav{
    height: 42px;
    display: flex;
    align-items: center;
}
header .right-nav .im1{
    height: 30px;
    padding:0px 5px ;
}
header .right-nav .im2{
    height: 30px;
    padding-left: 5px;
}
.left-nav{
    height: 42px;
    height: 42px;
    display: flex;
    align-items: center;
}
.left-nav .im1{
    height: 20px;
    margin: 0px 30px;
}
.left-nav .im2{
    height: 20px;
    margin: 0px 20px 0px 0px;
}

.product-img{
    position: relative;
}
/* product image */
.im3{
    width: 100%;
  height: auto;
  margin-top: 30px;
}

.product-img .im4{
  position: absolute;
  right: 3px;
  padding-top: 5px;
}
.checkbox-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkbox-container img{
   margin: auto;
}

/* product select */
.selcet-pro {
    padding-left: 10px;
}
.f10{
    font-size: 16px;
    margin: 10px 0px;
}
.b10{
padding: 5px 10px;
font-size: 14px;
border-radius: 7px;
border-color: #367dfb;
box-shadow: 1px 1px 4px 0px #367dfb78;
background: transparent;
}

.pro-dis {
    padding-left: 10px;
    padding-top: 10px;
    border-bottom: 5px solid #f1f2f4;
    border-top: 7px solid #f1f2f4;
    margin-top: 20px;
    padding-bottom: 20px;
}
.box10{
    margin: 10px 0px;
}
.box11 img{
height: 25px;
}
.box12{
    padding-top: 10px;
   

}
.box12 p{
font-size: 20px;
font-weight: bolder;
color: rgb(0, 140, 0);

}
.sp2{
    text-decoration: line-through;
    color: rgb(77, 77, 77);
    margin-right: 15px;
    margin-left: 15px;
}
.sp3{
    color: black;
}

/* offer end */
.box15{
    font-size: 21px;
    text-align: center;
    border-bottom: 5px solid #f1f2f4;
    padding: 15px 0px;
    font-weight: bold;
}
/* pay img */
.pay-img {
    padding: 20px;
}
.pay-img img{
    width: 100%;
  height: auto;
}
/* no cash delivary */
.no-box{
    border-top: 5px solid #f1f2f4;
    border-bottom: 7px solid #f1f2f4;
display: flex;
flex-wrap: nowrap;
justify-content: space-between;
align-items: center;
padding: 20px 10px;
}
.no-box .mb1 img{
    height: 30px;
    width: 30px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.no-box .mb2{
font-size: 14px;
padding-top: 15px;
}
/* main  */
.main img{
    width: 100%;
    height: auto;
    margin-top: 15px;
}


/* buy option */
.bottom-buy{
    height: 55px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
         background-color: white;
         box-shadow: 0 -4px 2px rgba(0, 0, 0, 0.068);

}
.add-to{
    width: 50%;
    text-align: center;
    font-size: 16px;
}
.buy{
    width: 50%;
    background-color: #ffc200;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    height: 80px;
}